<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30348691762-pf5difofk775v2cpvs8emd9bnqsp4h6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30348691762-pf5difofk775v2cpvs8emd9bnqsp4h6p</string>
	<key>API_KEY</key>
	<string>AIzaSyD82eyuNRcWcg8SDb-0VUEZdovI7FNoF9g</string>
	<key>GCM_SENDER_ID</key>
	<string>30348691762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moshiko.swift.RlxBook</string>
	<key>PROJECT_ID</key>
	<string>rlxbook</string>
	<key>STORAGE_BUCKET</key>
	<string>rlxbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30348691762:ios:8efa5bafba42eca4c6af2b</string>
	<key>DATABASE_URL</key>
	<string>https://rlxbook.firebaseio.com</string>
</dict>
</plist>